// Panel Addons
.panel-heading-toolbox {
  padding: 5px 5px 5px 5px;
  @include clearfix;

  .panel-title{
    margin: 8px 10px;
    display: inline-block;
  }

  > .panel-toolbar {
    float: right;
    display: inline-block;

    > .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
  }

  form.form-inline {
    display: inline-block;
  }
}

.panel-footer-toolbox {
  padding: 5px 5px 5px 5px;
  @include clearfix;

  > .panel-toolbar {
    display: inline-block;

    &.panel-toolbar-full {
      width: 100%
    }

    .btn {
      margin-left: 2px;
      margin-right: 2px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .pagination {
    margin-top:0;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
  }
}
