<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-lg">
          <h1>Hello World</h1>
          <p>
            Hello World Rails App!
          </p>
      </div>
    </div>
  </div>
</div>
