<%% content_for :view_title do %>
  <%%= t('edit_resource', scope: :crud_views, resource: <%= class_name %>.model_name.human) %>
<%% end %>
<%% content_for :view_menu do %><%% end %>

<div ng-controller="<%= plural_table_name.camelize %>EditCtrl">
  <%%= render 'form' %>
</div>


<%% content_for :js_rails_data do %>
<script type="text/javascript">
  var rails_data = {
    'resource': {
      'singular_name': '<%= singular_table_name %>',
      'plural_name': '<%= plural_table_name %>',
    },
    'action_name': '<%%= action_name %>'
  }
</script>
<%% end %>
