.margin-none{
  margin: 0;
}

.margin-r8{
  margin-right: 8px;
}
.margin-r10{
  margin-right: 10px;
}
.margin-r15{
  margin-right: 15px;
}

.margin-l8{
  margin-left: 8px;
}
.margin-l10{
  margin-left: 10px;
}
.margin-l15{
  margin-left: 15px;
}
.margin-l20{
  margin-left: 20px;
}
.margin-l80{
  margin-left: 80px;
}

.margin-l95{
  margin-left: 95px;
}

.margin-t15{
  margin-top: 15px;
}

.margin-b100{
  margin-bottom: 100px;
}
