.icon{
  &.icon-s30{
    height: 30px;
    width: 30px;
  }
  &.icon-s40{
    height: 40px;
    width: 40px;
  }
  &.icon-s70{
    height: 70px;
    width: 70px;
  }
  &.icon-s100{
    height: 100px;
    width: 100px;
  }
}
