.md-button{
  &.md-fab{
    &.md-fab-bottom-right{
      position: fixed;
    }
  }
  &.md-small{
    min-width: 0;
    margin-left: 4px;
    margin-right: 4px;
    md-icon{
      height: 16px;
      width: 16px;
      min-width: 16px;
      min-height: 16px;
    }
  }
}
