<!-- Flash messages -->
<div>
<% flash.each do |key, value| %>
  <app-notification
    type="<%= key %>"
    title='<%= t("#{key}_title", scope: :flash) %>'>
    <%= value %>
  </app-notification>
<% end %>
</div>
