  <body class="background-city">
    <div class="warning">

      <!--[if lt IE 7]>
      <p>
        Estás utilizando un navegador <strong>desactualizado</strong>.
        Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a> o
        <a href="http://www.google.com/chromeframe/?redirect=true">activa Google Chrome Frame</a>
        para mejorar tu experiencia de navegación.
      </p>
      <![endif]-->

      <noscript>
        <p>
          <%= t('no_javascript', scope: :header) %> </br>
          <a href="http://www.enable-javascript.com/es/">
            <%= t('activate_javascript', scope: :header) %>
          </a>
        </p>
      </noscript>
    </div><!-- .warning -->
